@color-bright: #daeff9;
@color-xhigh: #5FC0CE;
@color-high: #36BBCE;
@color-base: #03899C;
@color-low: #1F6B75;
@color-xlow: #015965;

@color-con-xhigh: #FFB673;
@color-con-high: #FF9B40;
@color-con-base: #FF7A00;
@color-con-low: #BF7530;
@color-con-xlow: #A65000;

@color-text-white: #ddd;
@color-text-black: #303033;
@color-text-enabled: #64737f;
@color-text-disabled: #a2bfc2;
@padding: 20px;

.radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.popup(@width, @height) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: @width;
    height: @height;
    margin-top: (-@height / 2);
    margin-left: (-@width / 2);
}

body {
    margin: 0;
    padding: 0;
    color: @color-text-white;
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
}

.wrap {
    padding: 10px @padding;
}

a {
    text-decoration: none;
}

header {
    @width: 960px;
    .tweet-placeholder {
        @img-margin: 10px;
        @img-width: 48px;
        .avatar {
            width: @img-width;
            height: @img-width;
            background: url("http://placehold.it/48x48") no-repeat;
            margin: 0 @img-margin @img-margin 0;
            img {
                width: 48px;
                height: 48px;
            }
        }
        .tweet {
            width: (@width - (@padding * 2) - @img-width - @img-margin);
        }
        .avatar,
        .tweet {
            float: left;
        }
        overflow: hidden;
    }
    .controls-placeholder {
        div {
            float: left;
            padding-right: 20px;
        }
        select {
            font-size: 20px;
        }
        .track-placeholder {
            float: right;
        }
        #track {
            margin: 0;
            padding: 10px;
            border: none;
            font-size: 20px;
            width: 400px;
            .radius(10px);
            background: @color-bright;
            color: @color-text-disabled;
            text-align: center;
        }
        #track.active {
            color: @color-text-enabled;
        }
        overflow: hidden;
    }
    a {
        color: @color-bright;
    }
    a:hover {
        color: @color-text-black;
    }
    .radius(5px);
    position: relative;
    top: 0;
    width: @width;
    margin: 0 auto;
    background: @color-high;
    z-index: 100;
}
section#login {
    .radius(5px);
    a {
        .radius(30px);
        display: inline-block;
        padding: 20px 30px;
        background: @color-high;
        color: @color-xlow;
    }
    a:hover {
        background: @color-xhigh;
    }
    .popup(600px, 280px);
    font-size: 32px;
    z-index: 200;
    background: @color-base;
    text-align: center;
}
section#map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
section#blooper {
    .error {
        p {
            margin: 0;
            padding: 20px;
            font-size: 40px;
        }
        .popup(600px, 250px);
        text-align: center;
    }
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: @color-con-low;
}